
button{
    border-color: #F0572D;
    color: #F0572D;
    height: 40px;
    width: 206px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.divSesion{
    width: 51vw;
}
.btnSesion:hover{
    background-color: #F0572D;
    color: white;
    transition-delay:0.1s;
}
.btnSesion2{
    background-color: #F0572D;
    color: white;
}
.btnSesion2:hover{
    background-color: #000000;
    color: #F0572D;
    transition-delay:0.1s;
}
.logoSesion{
    display: none;
}
@media (max-width: 768px) {
    .divSesion{
        width: 160vw;
    }
    .logoSesion{
        display: none;
    }
}
@media (max-width: 480px) {
    .divSesion{
        display: none;
    }
    .logoSesion{
        display: block;
        
    }
}