.cardCategoria {
    border-radius: 5px;
    background-color: white;
    border: 1px;
    border-color: #F3F1ED;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.imagenCategoria{
    width: 23vw; 
    /* height: 210px; */
    aspect-ratio: 1.5/1;
    object-fit: cover;
    border-radius:7px;
}
@media (max-width: 768px) {
    .imagenCategoria{
        width: 47vw; 
    }
    .cardCategoria{
        width: 47vw;
    }
  }
  @media (max-width: 480px) {
    .imagenCategoria{
        width: 140vw;
        height: 30vh;
    }
    .cardCategoria{
        width: 140vw;
    }
  }