.footer{
    height: 58px;
    width: 100%;
    background-color: #F0572D;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items:center ;
    margin-top: 20px;
}

p{
    color: white;
}
.pFooter{
    margin-left: 40px;
}
@media (max-width: 480px) {
    .footer{
        width: 165vw;
    }
}