.divRecomendaciones{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-self: center;
}
@media (max-width: 768px) {
    .divRecomendaciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
  }
  @media (max-width: 480px) {
    .divRecomendaciones{
        width: 164vw;
    }
  }
