@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.headerText{
    color: #191B1D;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
.logo{
    cursor: pointer;
}
.divContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerHeader{
    display:flex;
    align-items:center;
    justify-content:center;
}
.containerSideMenu{
    display: none;
}
.header{
    position: sticky;
    top:0;
    background-color: white;
    padding: 20px 30px 20px 30px;
    z-index: 20;
} 
.svgHeader{
    width: 5vw;
  }
.flex{
    display:flex ;
    align-items:end;
    gap: 10px;
    width: 100vw;
}
.verticalLine{
    width: 2.5px;
    height: 8vh;
    background-color: rgb(241, 71, 71);
    color: rgb(241, 71, 71);
    margin-left: 20px;
    margin-right: 10px;
}
.pAdminHeader{
    cursor: pointer;
    font-weight: bolder;
}
.pAdminHeader:hover{
    color: #F0572D;
   
}
.h4Header{
    width: 10vw;
}
.svgHeader2{
    width:14px; 
    height:14px;
    margin-left: 75px;
    fill: #000000;
}
.svgHeader2:hover{
    fill: #F0572D;
}
@media (max-width: 768px) {
    .headerText{
        display: none;
    }
    .header{
        width: 92vw;
    }
    .divContainer{
        width: 96vw;
    }
    .svgHeader2{
        margin-left: 75px;
    }
    .svgHeader{
        width: 50px;
    }
    .h4Header{
        width: 20vw;
    }
    .verticalLine{
        height: 4vh;
        margin-left: 5px;
    }
    
  }
  @media (max-width: 480px) {
    .containerHeader{
        margin-right: 0px;
        display: none;
    }
    .containerSideMenu{
        display: block;
    }
    .headerText{
        display: none;
    }
    .divContainer{
        width: 150vw;
    }
    .header{
        z-index: 10;
        width: 150.5vw;
    }
    .h4Header{
        width: 30vw;
    }
  }
